// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Bangers');

$bangers: 'Bangers', serif;
$space-large: 2.5rem;
$title-color: #ffffff;

body {
  background-color: skyblue;
}

.page-title {
  font-family: $bangers;
  margin-top: $space-large;
  margin-bottom: $space-large;
  color: $title-color;
}

input[type=search] {
  box-shadow: none;
}
